.app {
    padding: 0 3%;
}

.menu-nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
}

.banner {
    position: relative;
}

.banner {
    height: auto;

    > .banner-img {
        opacity: 0.2;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        object-fit: none;
    }

    > h1 {
        color: black;
        text-align: center;
        line-height: 10vh;
        position: relative;
    }
}
.tierlist-page {
    
    .tierlists {
        display: flex;
        flex-wrap: wrap;
    
        .damage-dealer, .hybrid, .utility {
            margin-top: 40px;
            width: 50%;
        }
    }

    .tierlist-row {
        display: flex;
      
        > * {
            width: 7%;
            border: 1px solid gray;
        }
      
        .tier-title {
            display: flex;
            background: black;
            color: white;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            font-size: auto;
            width: 5%;
        }
    }
      
    .not-included-row {
        justify-content: center;
    }
      
    
}


.header-row {
    text-align: center;
}

.sync-pair-icon {
    .sync-pair {
        margin: 5%;
        width: 90%;
    }

    .red {
        background: red;
    }
  
    .orange {
        background: orange;
    }
  
    .yellow {
        background: yellow;
    }
  
    .green {
        background: lightgreen;
    }
  
    .black {
        background: black;
    }

    :has(.not-found) {
        opacity: 0.2;
    }

    :has(.filter-excluded) {
        opacity: 1;
    }
}

.type-filters {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 35%;
    
    > div {
        > button {
            background: none;
            border: none;
        
            > img {
                width: 100%;
            }
        }

        button.selected {
            opacity: 1;
        }
    
        button:not(.selected) {
            opacity: 0.2;
        }
    } 
}
