<Menu />

<div class="banner index-banner">
  <h2>Adept's Pokemon Masters Companion</h2>
</div>

<p>I'm intending for this to be the best companion resource for Pokemon Masters I can make it. If you have any suggestions for ways to make this site better, please let me know!</p>