<Menu />

<div class="banner tierlist-banner">
  <h1>Tier List Companion</h1>
</div>

<h2>About the Tier List Companion</h2>
<p>This companion is based on Spark's tier list. I am not involved with the placement of sync pairs on the tier list, but I am maintaining this resource as a way to look for specific sync pairs and understand some of the justification behind their ultimate placement. If I have created a showcase for a specific pair, I am also including that here.</p>

<div class="not-ranked">
    <h3>The following sync pairs are not ranked on the tierlist at the moment, since they were added in the most recent update:</h3>
</div>

<input type="text" placeholder="Search for a sync pair...">

<div class="tierlists">
    <div class="damage-dealer">
        <div class="header-row">
            <h3>Damage Dealer</h3>
        </div>
        <div class="damage-dealer-grid">
            <div class="uber-row tierlist-row">
                <div class="tier-title">U</div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-01_NCRed.png" class="sync-pair red ice kanto main-character champion pallet-town strike exr-tech master-fair" title="Red (Champion) & Articuno" />
                </div>
                <div class="red">
                    <img src="/images/0H_GALAR/Leon_Arc_0006_5.png" class="sync-pair leon fire galar champion free-spirit multi exr-tech arc-suit" title="Arc Suit Leon & Charizard" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/Cheren_Tornadus.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0A_KANTO/LanceArc_Dragonite_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/0A_KANTO_0E-02_Ash.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0G_ALOLA/Gladion_Magearna.png" class="sync-pair" />
                </div>
            </div>
            <div class="splus-row tierlist-row">
                <div class="tier-title">S+</div>
                <div class="red">
                    <img src="/images/0I_PALDEA/Giacomo_0983.png" class="sync-pair giacomo dark paldea strike exr-tech pokefair" title="Giacomo & Kingambit" />
                </div>
                <div class="red">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-04_NeoChampMarnie.png" class="sync-pair marnie dark galar champion pigtails galar-adventurer strike exr-support master-fair" title="Marnie (Champion) & Galarian Moltres" />
                </div>
                <div class="red">
                    <img src="/images/0F_KALOS/0F_KALOS_0A-02_SSSerena.png" class="sync-pair serena dragon kalos main-character sygna-suit strike exr-support master-fair" title="Sygna Suit Serena & Zygarde (50% Forme)" />
                </div>
                <div class="red">
                    <img src="/images/0Z_OTHER-FORMES/0C_HOENN_0C-05_ssSteven_BAttack_.png" class="sync-pair steven psychic hoenn champion sygna-suit space-cadet tech exr-support pokefair" title="Sygna Suit Steven & Deoxys (Attack Forme)" />
                </div>
                <div class="orange">
                    <img src="/images/0D1_HISUI/Irida_Zoroark_5.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0F_KALOS/0F_KALOS_0D-01_ssLysandre.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/00_PASIO/00_PASIO_0E-01_Lear.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/Klara_Slowbro_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0A-02_SSHilda.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/Dexio_0196.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0I_PALDEA/Jacq_Farigarif_5.png" class="sync-pair" />
                </div>
            </div>
            <div class="s-row tierlist-row">
                <div class="tier-title">S</div>
                <div class="red">
                    <img src="/images/0D1_HISUI/Adaman_Ursaluna_5.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0C-04_Lance.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0G_ALOLA/Selene_Nihilego_5.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0I_PALDEA/Poppy_Tinkaton.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0H_GALAR/0H_GALAR_0D-01_Rose.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D_SINNOH/Barry_Heracross_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/0F_KALOS_0F-02_Emma.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0E-06_Palmer.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/ssPiers_Toxtricity.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0E-01_Eusine.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/Sina_0471.png" class="sync-pair" />
                </div>
            </div>
            <div class="sminus-row tierlist-row">
                <div class="tier-title">S-</div>
                <div class="red">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0D-01_SSLusamine.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0A-01_Lucas.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/Candice_Darmanitan.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0C-05_SSCynthia.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-01_SSRed.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/0A_KANTO_0D-01_SSGiovanni.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0C-05_Cynthia.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0E-02_Emmet.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0I_PALDEA/Iono_0987.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0Y_SEASONALS/0Z_0B_SUM_2023_Liza.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0Y_SEASONALS/0Z_0D_NY_2023_Lisia.png" class="sync-pair" />
                </div>
            </div>
            <div class="aplus-row tierlist-row">
                <div class="tier-title">A+</div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-02_BlueClassic.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0F_KALOS/0F_KALOS_0B-07_Olympia.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0H_SPCostume_2021_Diantha.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0F_KALOS/0F_KALOS_0B-03_SSKorrina.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/0C_HOENN_0D-01_Maxie.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-02_Gloria.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/0H_GALAR_0C-01_Leon.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-01_Victor.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0E-03_N.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0A-01_SSEthan.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/0H_GALAR_0B-08_Raihan.png" class="sync-pair" />
                </div>
            </div>
            <div class="a-row tierlist-row">
                <div class="tier-title">A</div>
                <div class="red">
                    <img src="/images/0H_GALAR/0H_GALAR_0C-01_SSLeon.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0Y_SEASONALS/0Z_0H_SPCostume_2022_Sonia.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0C-06_Alder.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0H_SPCostume_2022_Emmet.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0A-07_Hugh.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0B_SUM_2022_N.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/0F_KALOS_0C-05_Diantha.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0C_HOENN/0C_HOENN_0D-02_Archie.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-04_SSErika.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0Y_SEASONALS/0Z_0C_FALL_2022_Iris.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0D_SINNOH/Riley_Lucario.png" class="sync-pair" />
                </div>
            </div>
            <div class="aminus-row tierlist-row">
                <div class="tier-title">A-</div>
                <div class="red">
                    <img src="/images/0Y_SEASONALS/0Z_0G_ANNIV_2021_Lillie.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0Y_SEASONALS/0Z_0A_HOLIDAY_2021_Leon.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0A-04_Silver.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0G_ANNIV_2021_Steven.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0A-02_Hilda.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0B-04_Elesa.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0A-03_Kris.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0C-04_SSGrimsley.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/00_PASIO/00_PASIO_0Cb_Solgaleo.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0B_JOHTO/Chuck_Poliwrath_5.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0Y_SEASONALS/0Z_0D_NY_2022_Volkner.png" class="sync-pair" />
                </div>
            </div>
            <div class="bplus-row tierlist-row">
                <div class="tier-title">B+</div>
                <div class="red">
                    <img src="/images/0G_ALOLA/Ryuki_Turtonator.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0D-01_Cyrus.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0H_GALAR/0H_GALAR_0B-04_Bea.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0C-01_Hala.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-02_Blue.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/0A_KANTO_0D-01_Giovanni.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0C-05_Caitlin.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0B_SUM_2022_Hilda.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0C_HOENN/0C_HOENN_0A-01_Brendan.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/00_PASIO/Lear_0553.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/0H_GALAR_0B-02_Nessa.png" class="sync-pair" />
                </div>
            </div>
            <div class="b-row tierlist-row">
                <div class="tier-title">B</div>
                <div class="red">
                    <img src="/images/0C_HOENN/0C_HOENN_0A-03_Wally.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0E_UNOVA/Skyla_Unfezant_4.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0C_FALL_2020_Hilbert.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0D-03_Guzma.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/0C_HOENN_0A-02_May.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0H_SPCostume_2021_Guzma.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0B-05_Fantina.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0B-03_Burgh.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/Lusamine_Lilligant_4.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0A-05_Gladion.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0C_HOENN/0C_HOENN_0E-04_Zinnia.png" class="sync-pair" />
                </div>
            </div>
            <div class="bminus-row tierlist-row">
                <div class="tier-title">B-</div>
                <div class="red">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0B-04_Morty.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0B-04_Mallow.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0C-02_Olivia.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0A-02_Selene.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0F_KALOS/0F_KALOS_0B-06-BP_Valerie.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/0H_GALAR_0B-04b_Allister.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0B_SUM_2021_Gloria.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0D-01_Lusamine.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-02-EP_Blue.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0Y_SEASONALS/0Z_0D_NY_2021_Lance.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0A-03_Barry.png" class="sync-pair" />
                </div>
            </div>
            <div class="cplus-row tierlist-row">
                <div class="tier-title">C+</div>
                <div class="red">
                    <img src="/images/0F_KALOS/0F_KALOS_0C-04_Drasna.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0B_SUM_2020_Steven.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D1_HISUI/Volo_Gible_4.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0B-07_BP_Candice.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0C-02_Shauntal.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0B-05_BP_Sophocles.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-02_TL_Gloria.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0A-01_Ethan.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0A-03_Hau.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-05_Koga.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0B-09_Roxie.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0E-05_Looker.png" class="sync-pair" />
                </div>
            </div>
            <div class="c-row tierlist-row">
                <div class="tier-title">C</div>
                <div class="red">
                    <img src="/images/0Z_EGGS/MALE/Egg_0130_01sa.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/0C_HOENN_0E-04-BP_Zinnia.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0B-01_Roark.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0A_HOLIDAY_2019_Siebold.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/0F_KALOS_0F-01_TL_ProfSycamore.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0E_PAL_2023_Elesa.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/0F_KALOS_0X-01_Helena.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0B-08_Clair.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0C_HOENN/Noland_Pinsir_4.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0A_KANTO/0A_KANTO_0C-02_Bruno.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/Petey_Pikachu_3.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0D_SINNOH/Volkner_0026.png" class="sync-pair" />
                </div>
            </div>
            <div class="cminus-row tierlist-row">
                <div class="tier-title">C-</div>
                <div class="orange">
                    <img src="/images/0I_PALDEA/Rika_Whiscash_4.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0B_SUM_2020_Lyra.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0F_KALOS/0F_KALOS_0A-01_TL_Calem.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/0F_KALOS_0C-02_Siebold.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0A-05_Nate.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0C-01_Iris.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0C_HOENN/0C_HOENN_0B-07-1_Tate.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/0F_KALOS_0B-03_Korrina.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0B-07_Mina.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-04_TL_Marnie.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0C-04-BP_Karen.png" class="sync-pair" />
                </div>
            </div>
            <div class="d-row tierlist-row">
                <div class="tier-title">D</div>
                <div class="red">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0B-02_Gardenia.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0C-05_Molayne.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0X-01_Naomi.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-01_SSBrock.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0B-07_Pryce.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/0C_HOENN_0A-02_TL_May.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/0F_KALOS_0B-06_Valerie.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0B-11_Hapu.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/Bugsy_Beedrill_3.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0D_SINNOH/Flint_Infernape_4.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/Katherine_0685.png" class="sync-pair" />
                </div>
            </div>
        </div>
    </div>
    <div class="hybrid">
        <div class="header-row">
            <h3>Hybrid</h3>
        </div>
        <div class="hybrid-grid">
            <div class="uber-row tierlist-row">
                <div class="tier-title">U</div>
                <div class="red">
                    <img src="/images/0D_SINNOH/CynthiaArc_Garchomp_5.png" class="sync-pair cynthia ground sinnoh champion researcher multi exr-strike arc-suit" title="Arc Suit Cynthia & Garchomp" />
                </div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-01_SSTRed.png" class="sync-pair red electric kanto main-character sygna-suit pallet-town tech exr-field master-fair" title="Sygna Suit Red (Thunderbolt) & Pikachu" />
                </div>
                <div class="orange">
                    <img src="/images/00_PASIO/Lear_Gholdengo_5.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-03_NCLeaf.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/Bianca_Virizion.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/0F_KALOS_0A-02_ChampSerena.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/Silver_Tyranitar_5.png" class="sync-pair" />
                </div>
            </div>
            <div class="splus-row tierlist-row">
                <div class="tier-title">S+</div>
                <div class="red">
                    <img src="/images/0H_GALAR/0H_GALAR_0D-02_Oleana.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0D1_HISUI/0I_HISUI_0B-01_Adaman.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0D1_HISUI/0I_HISUI_0B-02_Irida.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0I_PALDEA/Geeta_Glimmora_5.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/ssRoxie_Toxtricity.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0A_KANTO/Red_Venusaur.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/Dahlia_Ludicolo_5.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0A-02_ssLyra.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/Lillie_0730s_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0I_PALDEA/Nemona_Screamtail_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/Nate_Haxorus.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/0F_KALOS_0C-05_ssDiantha.png" class="sync-pair" />
                </div>
            </div>
            <div class="s-row tierlist-row">
                <div class="tier-title">S</div>
                <div class="red">
                    <img src="/images/0G_ALOLA/Lillie_Solgaleo_5.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0C_HOENN/0C_HOENN_0A-03_ssWally.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D1_HISUI/Rei.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-03_NeoChampHop.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0A-03_ssHau.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0I_PALDEA/Clavell_0914.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/Leaf_Blastoise_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/Ingo_0609.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D_SINNOH/Gardenia_Dhelmise_5.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0B-02_ssLana.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0Y_SEASONALS/0Z_0G_ANNIV_2022_Skyla.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/0H_GALAR_0C-01_TowerLeon.png" class="sync-pair" />
                </div>
            </div>
            <div class="sminus-row tierlist-row">
                <div class="tier-title">S-</div>
                <div class="red">
                    <img src="/images/0I_PALDEA/Larry_Dudunsparce.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0C_HOENN/Roxanne_Runerigus.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/Emmet_0604.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0H_GALAR/Avery_Slowking_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/Blue_Charizard.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0E-03_SSN.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/Shauntal_0478.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0A-04_SSSilver.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-02_GymGloria01.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/Marnie_0815_5.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/Bede_0818_5.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/Hop_0812_5.png" class="sync-pair" />
                </div>
            </div>
            <div class="aplus-row tierlist-row">
                <div class="tier-title">A+</div>
                <div class="red">
                    <img src="/images/0G_ALOLA/Selene_Scizor_5.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0C_HOENN/Wallace_0806.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0C-05_SSRCynthia.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0A-01_SSHilbert.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/0C_HOENN_0A-02_SSMay.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/00_PASIO/00_PASIO_0E-04_Paulo.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0G_ANNIV_2022_Raihan.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D1_HISUI/Akari.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0H_SPCostume_2023_Zinnia.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0D-01_SSCyrus.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-02_GloriaDojo.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0B-04_ElesaClassic.png" class="sync-pair" />
                </div>
            </div>
            <div class="a-row tierlist-row">
                <div class="tier-title">A</div>
                <div class="red">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0A-02_VS_Lyra.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0G_ALOLA/Elio_Espeon.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0F_KALOS/Calem_0700.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/Hilda_0470.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/Hilbert_0471.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/Selene_Umbreon.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0G_ANNIV_2021_N.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0E_PAL_2022_Marnie.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0A-01_VS_Lucas.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/Viola_Vivillon.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0E_UNOVA/Byrcen-Man_Zoroark.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0A-03_VS_Kris.png" class="sync-pair" />
                </div>
            </div>
            <div class="aminus-row tierlist-row">
                <div class="tier-title">A-</div>
                <div class="red">
                    <img src="/images/0Y_SEASONALS/0Z_0G_ANNIV_2022_May.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0D-01b_Giovanni (Pose 2).png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0B_SUM_2023_Tate.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0A_KANTO/0A_KANTO_0C-04b_Lance.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/Thorton_Magnezone.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0C_HOENN/Noland_Ninjask.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0C_HOENN/Greta_Breloom_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-05_Bede.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0I_PALDEA/0J_PALDEA_0A-03_Nemona.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0Z_OTHER-FORMES/0C_HOENN_0C-05_ssSteven_DSpeed_.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0D-02_Ariana.png" class="sync-pair" />
                </div>
            </div>
            <div class="bplus-row tierlist-row">
                <div class="tier-title">B+</div>
                <div class="red">
                    <img src="/images/0F_KALOS/0F_KALOS_0D-01_Lysandre.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-03_SSLeaf.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0A-04_Bianca.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/0C_HOENN_0C-05_ssSteven_ANormal_.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0D_NY_2023_Dawn.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0H_SPCostume_2022_Rosa.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-04_Marnie.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/0F_KALOS_0A-02_Serena.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0B-03_Kiawe.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/0H_GALAR_0B-06_Gordie.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0D-02_Colress.png" class="sync-pair" />
                </div>
            </div>
            <div class="b-row tierlist-row">
                <div class="tier-title">B</div>
                <div class="red">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0C-01-2_IrisChampion.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0Y_SEASONALS/0Z_0A_HOLIDAY_2022_Whitney.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0G_ALOLA/Plumeria_Gengar.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0C-02_Bertha.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0E-02_MaskedRoyal.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0C-04_Lucian.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0C-04_GrimsleyKimono.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0C_HOENN/0C_HOENN_0D-03_Courtney.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0D-01_Ghetsis.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0Y_SEASONALS/0Z_0B_SUM_2021_Marnie.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0C_HOENN/0C_HOENN_0C-05_Steven.png" class="sync-pair" />
                </div>
            </div>
            <div class="bminus-row tierlist-row">
                <div class="tier-title">B-</div>
                <div class="red">
                    <img src="/images/0F_KALOS/Tierno_0663.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0Y_SEASONALS/0Z_0A_HOLIDAY_2021_Nessa.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0E_PAL_2021_Serena.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0H_SPCostume_2022_Ingo.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0D-01_Archer.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0D-03_Petrel.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-01_SpecialVictor.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0C-04_Karen.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/0F_KALOS_0A-02_TL_Serena.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/Shauna_0301.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/Malva_Talonflame_5.png" class="sync-pair" />
                </div>
            </div>
            <div class="cplus-row tierlist-row">
                <div class="tier-title">C+</div>
                <div class="red">
                    <img src="/images/0C_HOENN/Wally_Altaria_5.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0E_UNOVA/Hugh_Unfezant_5.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/0C_HOENN_0C-01_Sidney.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0B-08_Volkner.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0E-03_TL_N.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/Agatha_Gengar_4.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/0F_KALOS_0B-05_Clemont.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/Will_0178_4.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0E-04_Darach.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0Y_SEASONALS/0Z_0A_HOLIDAY_2020_Skyla.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0D_SINNOH/Barry_Floatzel_5.png" class="sync-pair" />
                </div>
            </div>
            <div class="c-row tierlist-row">
                <div class="tier-title">C</div>
                <div class="red">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0A-06_TL_Rosa.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0A-04_TL_Silver.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D1_HISUI/0I_HISUI_0B-02_TL_Irida.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0A-02_Dawn.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/Gladion_Weavile_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/Oak_Mew_3.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/Marnie_Scrafty_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0E-01_Kukui.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0D-02_Plumeria.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0A_KANTO/Blue_Alakazam_5.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0E_UNOVA/Cheren_0510_5.png" class="sync-pair" />
                </div>
            </div>
            <div class="cminus-row tierlist-row">
                <div class="tier-title">C-</div>
                <div class="red">
                    <img src="/images/0H_GALAR/Rose_Perrserker_4.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0F_KALOS/0F_KALOS_0C-03_Wikstrom.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0B_JOHTO/Silver_Crobat_5.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/Cheren_Purrlion_4.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0B-10_Nanu.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0I_PALDEA/Nemona_Lycanroc_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/Eve.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0F_SPRING_2021_May.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0B-03_Whitney.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0A_KANTO/Lance_Kingdra_4.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0C_HOENN/0C_HOENN_0E-03_Lisia.png" class="sync-pair" />
                </div>
            </div>
            <div class="dplus-row tierlist-row">
                <div class="tier-title">D+</div>
                <div class="red">
                    <img src="/images/0C_HOENN/0C_HOENN_0B-06_Winona.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0Z_EGGS/MALE/Egg_0130_02sa.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0B-01-BP_Falkner.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0B_JOHTO/Will_Slowbro_4.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/0C_HOENN_0B-02_Brawly.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0C_FALL_2020_Acerola.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0B-07_Candice.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-07_Blaine.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-02_SSMisty.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0C-04_Grimsley.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0A-04_TL_Lillie.png" class="sync-pair" />
                </div>
            </div>
            <div class="d-row tierlist-row">
                <div class="tier-title">D</div>
                <div class="red">
                    <img src="/images/0G_ALOLA/Sophocles_Togedemaru_4.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-02_Misty.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0C_FALL_2021_Morty.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/0C_HOENN_0C-05-BP_Steven.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-04a_Erika.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/Janine_Ariados_3.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-01_Brock.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0C_HOENN/0C_HOENN_0B-08_Wallace.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0B-04_CrasherWake.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0C-03_Marshal.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0C-04_Kahili.png" class="sync-pair" />
                </div>
            </div>
            <div class="dminus-row tierlist-row">
                <div class="tier-title">D-</div>
                <div class="red">
                    <img src="/images/0F_KALOS/0F_KALOS_0A-01_Calem.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-03a_LtSurge.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/0C_HOENN_0B-04_Flannery.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/0C_HOENN_0E-02_Lucy.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/00_PASIO/00_PASIO_0A-01b_Pikachu.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0C_HOENN/0C_HOENN_0B-05_Norman.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/0F_KALOS_0B-02_Grant.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0B-05_Clay.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0A_KANTO/0A_KANTO_0C-01_Lorelei.png" class="sync-pair" />
                </div>
            </div>
        </div>
    </div>
    <div class="utility">
        <div class="header-row">
            <h3>Utility</h3>
        </div>
        <div class="utility-grid">
            <div class="uber-row tierlist-row">
                <div class="tier-title">U</div>
                <div class="red">
                    <img src="/images/0C_HOENN/StevenArc_Metagross_5ex.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-02_NCBlue.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/Rosa_Meloetta_Psy.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0B-07_ssMina.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0C-05_SSACynthia.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0A_KANTO/Chase_Pikachu.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0A_KANTO/Elaine.png" class="sync-pair" />
                </div>
            </div>
            <div class="splus-row tierlist-row">
                <div class="tier-title">S+</div>
                <div class="red">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0B-04_SSMorty.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0I_PALDEA/Penny_Sylveon.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0C-03_ssAcerola.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0A-03_ssKris.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0I_PALDEA/Eri_0979.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/Bugsy_0402_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0E-07_Argenta.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0I_PALDEA/Grusha_Cetitan.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0I_PALDEA/Rika_Clodsire.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-05_NeoChampBede.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0I_PALDEA/Iono_0939.png" class="sync-pair" />
                </div>
            </div>
            <div class="s-row tierlist-row">
                <div class="tier-title">S</div>
                <div class="red">
                    <img src="/images/0F_KALOS/0F_KALOS_0A-01_ChampCalem.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0A-02_SSDawn.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-01_Red.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0H_GALAR/Milo_0830_5.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0H_GALAR/Kabu_Centiskorch.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/Acerola_Jellicent_5.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0E-03_Anabel.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/Bellelba_Swoobat.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/Elio_Stakataka_5.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0B_JOHTO/Falkner_Noctowl.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0I_PALDEA/Arven_Mabosstiff_5.png" class="sync-pair" />
                </div>
            </div>
            <div class="sminus-row tierlist-row">
                <div class="tier-title">S-</div>
                <div class="red">
                    <img src="/images/0C_HOENN/0C_HOENN_0A-01_SSBrendan.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0B-04_vMallow.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-02_SSBlue.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0H_SPCostume_2023_Shauna.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D1_HISUI/Volo_Togepi_5.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0A_HOLIDAY_2022_Jasmine.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0H_SPCostume_2023_Steven.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0E-01_Ingo.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/0F_KALOS_0F-01_ProfSycamore.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/0H_GALAR_0F-01_Sonia.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/Victor_Greedent.png" class="sync-pair" />
                </div>
            </div>
            <div class="aplus-row tierlist-row">
                <div class="tier-title">A+</div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-03_Leaf.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0C-01_Aaron.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0H_GALAR/0H_GALAR_0F-01_BallGuy.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/00_PASIO/Sawyer_Gimmighoul_5.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0H_SPCostume_2022_Lillie.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/Phoebe_Cofagrigus.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0F_SPRING_2021_Burgh.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/0H_GALAR_0A-03_Hop.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/0H_GALAR_0B-06b_Melony.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0A-01_Elio.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0Y_SEASONALS/0Z_0E_PAL_2023_Mallow.png" class="sync-pair" />
                </div>
            </div>
            <div class="a-row tierlist-row">
                <div class="tier-title">A</div>
                <div class="red">
                    <img src="/images/0B_JOHTO/Clair_0780.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0Y_SEASONALS/0Z_0H_SPCostume_2021_Jasmine.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0D-04_Proton.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0F_KALOS/Tierno_Crawdaunt_5.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0H_SPCostume_2023_Lyra.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0C_FALL_2022_Allister.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0E_PAL_2022_Bea.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/0A_KANTO_0C-01b_Lorelei.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/Oak_Nidorino_5.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/Morgan_Virizion_5.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/Sycamore_Gogoat.png" class="sync-pair" />
                </div>
            </div>
            <div class="aminus-row tierlist-row">
                <div class="tier-title">A-</div>
                <div class="red">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0B-03_Kiawe.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0G_ALOLA/Guzma_Ariados.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0C-03b_Agatha.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0A_KANTO/0A_KANTO_0C-02b_Bruno.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0B-01_Falkner.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0F_KALOS/0F_KALOS_0A-03_Shauna.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0A-02_Lyra.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0C_FALL_2021_Caitlin.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0I_PALDEA/Iono_Wattrel_4.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/00_PASIO/00_PASIO_0E-05_Tina.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0H_GALAR/Kabu_Torkoal_4.png" class="sync-pair" />
                </div>
            </div>
            <div class="bplus-row tierlist-row">
                <div class="tier-title">B+</div>
                <div class="red">
                    <img src="/images/0Y_SEASONALS/0Z_0B_SUM_2022_Hilda.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-02_TL_Blue.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0A-01_Hilbert.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0I_PALDEA/Arven_0932_4.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/00_PASIO/00_PASIO_0Db_Mesprit.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/00_PASIO/00_PASIO_0Db_Cobalion.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/Gladion_Golbat.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0D_NY_2022_Sabrina.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0C_HOENN/0C_HOENN_0C-03_Glacia.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0Z_OTHER-FORMES/0C_HOENN_0C-05_ssSteven_CDefense_.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/00_PASIO/Rachel_Gimmighoul_5.png" class="sync-pair" />
                </div>
            </div>
            <div class="b-row tierlist-row">
                <div class="tier-title">B</div>
                <div class="red">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0B-04_SSElesa.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0B-04_TL_Morty.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0B-06_Skyla.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0A-03-BP_Barry.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0B-02_Lana.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0A-02_TL_Dawn.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0F_KALOS/0F_KALOS_0B-05_BP_Clemont.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D_SINNOH/Cheryl_Wailord_4.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0C_HOENN/Wally_Delcatty_4.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/Dana_Regice_5.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/Evelyn_Entei_5.png" class="sync-pair" />
                </div>
            </div>
            <div class="bminus-row tierlist-row">
                <div class="tier-title">B-</div>
                <div class="red">
                    <img src="/images/0F_KALOS/Nita_Landorus_5.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/00_PASIO/PlayerM_Raikou_5.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-06_Sabrina.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/00_PASIO/Sawyer_Honchkrow_4.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/Lenora_Watchdog.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0F_KALOS/Trevor_Florges_5.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/Cheryl_0242_3.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0C-02-BP_Olivia.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/00_PASIO/Scottie_Alcreamie_4.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0C-05_TL_Cynthia.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-02b_SwimsuitMisty.png" class="sync-pair" />
                </div>
            </div>
            <div class="cplus-row tierlist-row">
                <div class="tier-title">C+</div>
                <div class="red">
                    <img src="/images/0Y_SEASONALS/0Z_0E_PAL_2021_Dawn.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-03b_LtSurge.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0B-04_TL_Elesa.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0B-06_Jasmine.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0H_GALAR/0H_GALAR_0B-07_Piers.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/00_PASIO/00_PASIO_0Db_Registeel.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0B-03_Maylene.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0Y_SEASONALS/0Z_0D_NY_2021_Lillie.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/Giovanni.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0H_GALAR/0H_GALAR_0B-08_TL_Raihan.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0A_KANTO/0A_KANTO_0D-01-EP_Giovanni.png" class="sync-pair" />
                </div>
            </div>
            <div class="c-row tierlist-row">
                <div class="tier-title">C</div>
                <div class="red">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0B-02-EP_Bugsy.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0B_JOHTO/0B_JOHTO_0B-04_TL_Morty.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0C_HOENN/0C_HOENN_0C-02_Phoebe.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0C-03_TL_Acerola.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D1_HISUI/0I_HISUI_0B-01_TL_Adaman.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/00_PASIO/00_PASIO_0Db_Regirock.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0A_KANTO/0A_KANTO_0A-03_TL_Leaf.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0A-04_TL_Lillie.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0B_JOHTO/Jasmine_Magnemite.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-05_BP_Janine.png" class="sync-pair" />
                </div>
            </div>
            <div class="dplus-row tierlist-row">
                <div class="tier-title">D+</div>
                <div class="red">
                    <img src="/images/0C_HOENN/0C_HOENN_0B-01_Roxanne.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/00_PASIO/Rachel_Umbreon_4.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0Y_SEASONALS/0Z_0A_HOLIDAY_2019_Rosa.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0E-03_Marley.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/00_PASIO/00_PASIO_0B-01b_Torchic.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0A-06_Rosa.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0G_ALOLA/0G_ALOLA_0C-03_Acerola.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0F_KALOS/0F_KALOS_0X-02_Kali.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0Y_SEASONALS/0Z_0A_HOLIDAY_2020_Erika.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0A-03_Cheren.png" class="sync-pair" />
                </div>
            </div>
            <div class="d-row tierlist-row">
                <div class="tier-title">D</div>
                <div class="red">
                    <img src="/images/0C_HOENN/0C_HOENN_0C-04_Drake.png" class="sync-pair" />
                </div>
                <div class="red">
                    <img src="/images/0F_KALOS/0F_KALOS_0B-04_Ramos.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0C_HOENN/0C_HOENN_0B-07-2_Liza.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0D_SINNOH/0D_SINNOH_0E-01_Thorton.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0F_KALOS/0F_KALOS_0B-01_Viola.png" class="sync-pair" />
                </div>
                <div class="orange">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0B-10_Marlon.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0A_KANTO/0A_KANTO_0B-04b_Erika.png" class="sync-pair" />
                </div>
                <div class="yellow">
                    <img src="/images/0F_KALOS/0F_KALOS_0B-08_Wulfric.png" class="sync-pair" />
                </div>
                <div class="green">
                    <img src="/images/0E_UNOVA/0E_UNOVA_0B-07_Brycen.png" class="sync-pair" />
                </div>
            </div>
        </div>
    </div>
</div>